a,
a:focus,
a:hover {
    color: #000;
    text-decoration: underline;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #ddd;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

html,
body {
    height: 100%;
    background-color: #ddd;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #000;
}

.cover-container {
    max-width: 72em;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(0, 0, 0, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.mastfoot {
    color: rgba(0, 0, 0, .5);
}

.real-import {
    display: none;
}

.must-read {
    color: #d60d0d;
    font-weight: bold;
}

.show-upload {
    font-weight: bold;
    font-size: 3em;
    color: #d60d0d;
}