<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link href="/css/upload.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <img src="img/back.png" width="800px"/>
        <br>
        <br>
        <div class="lead text-left">
            <div>
                <h2>Online Safepoint/GC log analyzer:</h2>
                <div>
                        <span>
                            If you want to use online viewer simply follow
                            <a href="/upload" class="must-read">link</a>.
                        </span>
                    <br>
                </div>
            </div>
            <br>
            <div>
                <h2>Standalone JVM log analyzer:</h2>
                <div>
                    <span>
                        Open source on <a class="must-read" href="https://github.com/krzysztofslusarski/jvm-gc-logs-analyzer">GitHub.</a>
                    </span>
                </div>
            </div>
            <br>
            <div>
                <h2>JVM performance articles and other open source projects:</h2>
                <a class="must-read" href="https://krzysztofslusarski.github.io/">GitHub.</a>
            </div>
        </div>
        <br>
        <div class="lead text-left">
            Author: Krzysztof Ślusarski
            Email: ks@gclogs.com
        </div>
    </main>
</div>

</body>
</html>
