<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link href="/css/upload.css" rel="stylesheet">
</head>

<body>
<main role="main" class="container pb-3">
    <h1 class="display-3 text-center">Online Safepoint/GC log analyzer</h1>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Online analysis</h5>
            <p>If you need quick analysis of <= 10Mb file (after compression).</p>
            <a class="btn btn-outline-primary" href="/upload" role="button">Try online</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Standalone JVM log analyzer:</h5>
            <p>For analysis of big files build standalone version from source.</p>
            <a class="btn btn-outline-primary" href="https://github.com/krzysztofslusarski/jvm-gc-logs-analyzer"
               role="button" target="_blank">GitHub repository</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Other stuff</h5>
            <p>If you are looking for interesting cases and tips regarding garbage collection and JVM performance.</p>
            <a class="btn btn-outline-primary" href="https://krzysztofslusarski.github.io/" role="button"
               target="_blank">Blog</a>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted">
        This tool is provided to you by <a href="mailto:ks@gclogs.com" class="text-muted">Krzysztof Ślusarski</a></span>
    </div>
</footer>

</body>
</html>
