<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link href="/css/upload.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <img src="img/back.png" width="800px"/>
        <br>
        <br>
        <div class="lead text-left">
            <div>
                <h2>Online Safepoint/GC log analyzer:</h2>
                <div>
                        <span>
                            If you want to use online viewer simply follow
                            <a href="/upload" class="must-read">link</a>.
                        </span>
                    <br>
                </div>
            </div>
            <br>
            <div>
                <h2>Standalone JVM log analyzer:</h2>
                <div>
                    <span>
                        I'm working on standalone version of GC/JVM logs viewer. Currently I have to decide if I want it to be open source project
                        or commercial one. Difference between online and standalone version:
                        <ul>
                            <li>No file size limit</li>
                            <li>No sending file to internet</li>
                        </ul>
                        Limitations of standalone version:
                        <ul>
                            <li>GC logs from JDK 8 will not be supported</li>
                        </ul>
                        If you would like to have standalone version, please fill <a class="must-read" href="https://docs.google.com/forms/d/e/1FAIpQLSem4oVqCqUqX8UZqkbK-aryDRGASJe0Bdh91gXbLscjaowK4g/viewform?usp=sf_link">pool</a> (2 questions, 30 seconds of your time).
                    </span>
                </div>
            </div>
            <br>
            <div>
                <h2>JVM performance articles and open source projects:</h2>
                On <a class="must-read" href="https://krzysztofslusarski.github.io/">GitHub.</a>
            </div>
        </div>
        <br>
        <div class="lead text-left">
            Author: Krzysztof Ślusarski
            Email: ks@gclogs.com
        </div>
    </main>
</div>

</body>
</html>
